<div id="content" cdkDropListGroup>
  <div id="cardPile"
    cdkDropList
    [cdkDropListData]="todo"
    [cdkDropListEnterPredicate]="noReturnPredicate"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of todo" cdkDrag [cdkDragData]="item">
      <img [src]="item.src" [alt]="item.title"/>
    </div>
  </div>

  <div id="cardSlots">
    <div *ngFor="let item of done"
      cdkDropList
      [cdkDropListData]="item.list"
      class="pin"
      [cdkDropListEnterPredicate]="matchPredicate"
      (cdkDropListDropped)="drop($event)" 
      [ngStyle]="{'background-image': 'url(' + ((item.match())? item.src: item.hover) + ')','background-size':'cover'}">
    </div>
  </div>

  <div id="successMessage" *ngIf="todo.length < 1">
    <h2>Congratulations!</h2>
    <img src="../assets/parabens.png"/><br>
    <button (click)="init()">Play Again</button>
  </div>
</div>
