/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to bottom, #49bdff 0%, #49bdff 40%, #fbfbfb 40%, #ebebeb 100%);
	  background-repeat: no-repeat;
    margin: 30px;
    font-family: "Georgia", serif;
    line-height: 1.8em;
    color: #333;
}
